* {
  margin: 0;
  padding: 0;
}

.App {
  /* display: flex; */
  padding: 30px;
}

.game {
  margin-right: auto;
  margin-left: auto;
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}
